*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fdf6ef;
}

.event__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.event{
    background-color: #e38654;
    padding: 1rem 2rem;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 5px;
}

.hidden{
    display: none;
}